/* TODO inserir outros breakpoints */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url("./color.css");
html{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #c700c7ff;
    background-image: url("../img/fundo.png");
}


body {
    
    margin: 6vw 6vw;
    padding: 0;
    background-color: #800080ff;
    border-radius: 30px;
    max-height: 92vh;
    z-index: 0;
    overflow: clip;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.363);
}

.barra-brilho {
    background: linear-gradient(0deg, rgba(128, 0, 128, 0) , rgba(255, 255, 255, 0.137), rgba(128, 0, 128, 0));
    width: 100%;
    height: 240px;
    border-radius: 30px;
    position: relative;
    top: 0%;
    z-index: -2;
    animation: 1.5s infinite barra-brilho-movimento;
}

@keyframes barra-brilho-movimento {
    000% {top: -120px;}
    100% {top: calc(98vh - 240px);}
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    position: relative;
    top: -240px;
}

header div div img{
    height: 40px;
}

header div div a{
    padding: 8px;
}

header div div a:hover {
    border-radius: 20px;
    background-color: #008000ff;
}

nav {
    display: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 260px;
    
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
    padding: 6px;
    border-radius: 20px;
    background-color: #808000ff;
    border-color: #800000ff;
    border-style: solid;
    border-width: 2px;
}

nav li:hover {
    border-radius: 20px;
    background-color: #008000ff;
}

#sandwich {
    height: 30px;
}

main section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    top: -240px;
    z-index: -1;
}

main section h1{
    font-family: 'Patrick Hand', cursive;
    margin-left: 40px;
}
main section img {
    height: 80vw;
}

main section p{
    margin: 0 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.icon-menu-name {
    margin: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 74vw;
}

.icon-name{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.girl-circle {
    display: flex;
    background-color: #800000ff;
    justify-content: center;
    margin: 10px auto;
    width: 74vw;
    height: 74vw;
    border-radius: 37vw;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    animation: 0.8s infinite alternate pulsacao-circle;
}

/* @keyframes pulsacao-circle {
    000% {width: 74vw;
        height: 74vw;
        border-radius: 37vw;}
   100% {width: 88vw;
        height: 88vw;
        border-radius: 44vw;}    
} */

.girl-inner-circle {
    display: flex;
    position: relative;
    top: 20%;
    background-color: #804401ff;
    justify-content: center;
    width: 54vw;
    height: 54vw;
    border-radius: 26vw;
    animation: 0.8s infinite alternate pulsacao-inner-circle;
}

/* @keyframes pulsacao-inner-circle {
    000% {width: 54vw;
         height: 54vw;
         border-radius: 26vw;}
    100% {width: 64vw;
         height: 64vw;
         border-radius: 32vw;}
} */

.girl-inner-circle img {
    position: relative;
    top: -20%;
}

.view-portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 160px;
    border-radius: 30px;
    margin: 12px 0;
    background-color: #800000ff;
    margin-left: 32px;
}

.view-portfolio:hover {
    background-color: #008000ff;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

/* @media screen and (min-width: 360px) {

    .girl-circle{
        max-height: 300px;
        max-width: 300px;
        min-height: 300px;
        min-width: 300px;
        border-radius: 150px;
        margin-right: 40px;
    }

    .girl-inner-circle {
        max-height: 186px;
        max-width: 186px;
        min-height: 186px;
        min-width: 186px;
        border-radius: 93px;
    }

    .girl-inner-circle img {
        height: 283px;
    }
} */

@media screen and (min-width: 900px){
    html {
        width: 100%;
        height: 100vh;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    body {
        width: 80%;
        height: 80vh;
        background-color: #800080ff;
    }
    h1 {
        font-size: 32px;
    }

    p {
        font-size: 22px;
    }

    nav {
        display: unset;
        border-style: none;
        background-color: unset;
    }
    nav ul li {
        background-color: unset;
        border-color: unset;
        border-style: unset;
        border-width: unset;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    #sandwich{
        display: none;
    }
    
    main section {
        padding-top: 10%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .girl-circle{
        max-height: 350px;
        max-width: 350px;
        min-height: 350px;
        min-width: 350px;
        border-radius: 175px;
        margin-right: 40px;
    }

    .girl-inner-circle {
        max-height: 256px;
        max-width: 256px;
        min-height: 256px;
        min-width:256px;
        border-radius: 128px;
    }

    .girl-inner-circle img {
        height: 389px;
    }
}

@media screen and (min-width: 1260px){
    .girl-circle{
        max-height: 450px;
        max-width: 450px;
        min-height: 450px;
        min-width: 450px;
        border-radius: 225px;
    }

    .girl-inner-circle {
        max-height: 328px;
        max-width: 328px;
        min-height: 328px;
        min-width: 328px;
        border-radius: 164px;
    }

    .girl-inner-circle img {
        height: 500px;
    }
    main section {
        padding-top: 5%;
    }
}
